// Generated using xcconfig-extractor 0.5.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
#include "Base.xcconfig"
#include "../Pods/Target Support Files/Pods-spajam-ios/Pods-spajam-ios.release.xcconfig"
MTL_ENABLE_DEBUG_INFO = NO
SWIFT_OPTIMIZATION_LEVEL = -O
VALIDATE_PRODUCT = YES
SWIFT_COMPILATION_MODE = wholemodule
ENABLE_NS_ASSERTIONS = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

